* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
     
}

body {
    background-image: url("https://images.pexels.com/photos/1420008/pexels-photo-1420008.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
   

    
}

/* task title */
.title {
    font-size: 30PX;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 20px 10px 30px 20px;
    margin-left: auto;
    float: center;
    color: rgb(169,194,184);
    margin-top: 50px;
    
}

/* task */
.input {
    display: grid;
    column-gap: 7px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-template-columns: 30% 10%;
    justify-content: center;
    margin-top: 100px;
    color:rgb(169,194,184)
}

.textarea {
    min-height: 60px;
    height: 50px;
    max-width: 100%;
    min-width: 100%;
    border-radius: 20px;
    border-color: #1f1f1f;
    font-size: 25px;
    padding: 10px 10px;
    overflow: auto;
    overflow-x: hidden;
    text-align: center;
}

.textarea::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color:rgb(126,140,148);
}

.textarea::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

.textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(69,100,85);
    cursor: pointer;
}

.textarea:focus {
    outline: none;
    border-color: rgb(8, 21, 15);
}


.btnt {
    border-radius: 10px;
    border-color: #12300dba;
    background-color: rgba(199, 228, 130, 0.078);
    font-size: 20px;
}

.btnt:hover {
    background-color:rgba(16,43,38,255);
    color: rgb(151, 205, 180);
}

/* js */
.todolist {
    margin-top: 25px;
    align-items: center;
    height: 0S;
    width: 65vh;
    text-align: center;
    margin-left: 380px;
    margin-right: 450px;
}

.itemall {
    display: grid;
    grid-template-columns: 60% 5% 5%;
    justify-content: center;
    margin-bottom: 4px;
}

.item, .check-button, .trash-button {
    border: none;
    background-color: rgb(165, 227, 198);
    min-height: 30px;
    padding: 10px 10px;
    align-items: center;
}

.item {
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px 0 0 10px;
    display: grid;
    align-content: center;
    font-size: 25px;
}

.check-button, .trash-button {
    font-size: 15px;
}

.trash-button {
    border-radius: 0 10px 10px 0;
}

.check-button:hover {
    background-color: rgb(43,73,59);
    color: white;
}

.trash-button:hover {
    background-color:rgba(130,154,147,255);
    color: white;
}

.checklist {
    text-decoration: line-through;
}

.fa-check, .fa-trash {
    pointer-events: none;
}

button, .check-button, .trash-button {
    cursor: pointer;
}